<div class="page-logo">
    <img src="~/img/flow-plus-white.png" style="width:60px;height:50px;">
    <strong>A TMS by<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;translate plus</strong>
</div>
    @*</div>*@
@*</div>*@