@{ViewData["Title"] = "Access denied";}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
}

<div class="d-flex flex-1" style="background: url(/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0 text-white d-flex align-items-center justify-content-center">
        <img src="~/img/stop-noentry-transp.png">
        @*<div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                @Html.Raw(ViewBag.CopyrightInverse)
            </div>*@
    </div>
</div>