
smartadmin-core-full/Sandbox/Sandbox.csproj
smartadmin-core-full/Sandbox/Program.cs
smartadmin-core-full/Sandbox/Program.cs
smartadmin-core-full/Sandbox/Sandbox.csproj
tpCommon/Custom_Exceptions/bin/

tpCommon/Custom_Exceptions/obj/

tpCommon/Data.QA/bin/

tpCommon/Data.QA/obj/

tpCommon/Data/bin/
tpCommon/Data/obj/

tpCommon/Extensions/bin/

tpCommon/Extensions/obj/

tpCommon/Global_Settings/bin/

tpCommon/Global_Settings/obj/

tpCommon/Sandbox/bin/
tpCommon/Sandbox/obj
tpCommon/Services/bin/
tpCommon/Services/obj/
tpCommon/ViewModels/bin/
tpCommon/ViewModels/obj/
