@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="col-xl-6 ml-auto mr-auto">
    <div class="card p-4 rounded-plus bg-faded">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                Password recovery request received. Please check your email to reset your password.
            </div>
        </div>
    </div>
</div>
@*<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>*@

