@page
@model flowPlusExternal.Areas.Identity.Pages.Account.IndexModel
@{
    <div class="col-lg-12">
        <div class="card p-md-4 bg-gray-300 rounded-plus opacity-95">
            <h2 class="fs-xxl fw-500 text-black-50 text-center">
                "We'll be back soon"
                <small class="h3 fw-300 mt-3 mb-5 text-black-50 hidden-sm-down">
                    flow plus is currently unavailable as we’re making some essential upgrades to improve our IT systems. We’ll be back up and running by 15:00 UK Time.
                </small>
                <small class="h3 fw-300 mt-3 mb-5 text-black-50 hidden-sm-down">
                    For any urgent requests, please get in touch with your Account Manager or the responsible Projects team.
                </small>
                <small class="h3 fw-300 mt-3 mb-5 text-black-50 hidden-sm-down">
                    We apologise for the inconvenience and appreciate your patience.
                </small>
                <small class="h3 fw-300 mt-3 mb-5 text-black-50 hidden-sm-down">
                    <strong> The translate plus team</strong>
                </small>
                <img src="https://www.translateplus.com/images/iplus/MaintenanceBig.png" style="width:700px; height:380px;"/>
            </h2>

        </div>
    </div>
}
