@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="col-xl-5 ml-auto mr-auto">
    <div class="card p-4 rounded-plus bg-faded">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                Your password has been reset. Please
                @{ if ((string)ViewData["ReturnLink"] == "iplus")
                    {
                       <a href="https://iplus.translateplus.com/">click here to log in</a>
                    }
                    else
                    {
                       <a asp-page="./Login">click here to log in</a>
                    }
                  }

            </div>

</div>

</div>
</div>
@*<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>*@
