<footer class="page-footer" style="background:none;" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <ul class="list-table m-0">
            <li><a href="https://www.translateplus.com/about/" target="_blank" style="color:white;">About us</a></li>
            <li class="pl-3"><a href="https://www.translateplus.com/privacy-cookies/" target="_blank" style="color:white;">Privacy Policy</a></li>
            <li class="pl-3"><a href="https://www.translateplus.com/terms-conditions/" target="_blank" style="color:white;">Terms Of Use</a></li>
        </ul>
    </div>
    <div>
        <span style="color:white;">copyright © translate plus @DateTime.Now.Year</span>
        @*<a href="https://www.translateplus.com/about/" target="_blank" style="color:white;">About us</a>
        <a href="https://www.translateplus.com/privacy-cookies/" target="_blank" class="text-secondary fw-700">Privacy Policy</a>*@
        
    </div>
</footer>

