@{ ViewData["Title"] = "Template Files";
    ViewData["Category1"] = "Information";

}

<div class="row">
    <div class="col-xl-12">

        <div id="panel-2" class="panel">

            <div class="panel-hdr">
                <h2>translate plus company template files</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                        Below are the latest template files, please click on them to open and then do a “Save As…” on them. These templates are updated by our Marketing team and published by our IT team.
                    </p>
                </div>
            </div>

            <div id="panel-1" class="panel">
                <div class="panel-hdr">

                    <h2>MS Word templates</h2>

                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>

                <div class="panel-container show">
                    <br />
                    <ol>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_Development project brief.dotx">Development project brief.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_Draft MSA (ICA) for inter-company cooperations.dotx">Draft MSA (ICA) for inter-company cooperations.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_Meeting agenda for sales - TP - NEW.dotx">Meeting agenda for sales - TP - NEW.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_NDA translate plus standard.dotx">NDA translate plus standard.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_Transcreation Copy Deck - translate plus.dotx">Transcreation Copy Deck - translate plus.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_translate plus - Client Assessment Form.dotx">translate plus - Client Assessment Form.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_translate plus - Draft SLA.dotx">translate plus - Draft SLA.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-03-27_translate plus - external client contract (EN) - v2023.dotx">translate plus - external client contract (EN) - v2023.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_translate plus - Interpreting Quoting Brief.dotx">translate plus - Interpreting Quoting Brief.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_translate plus - Letterhead.dotx">translate plus - Letterhead.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_translate plus - proposal with logo.dotx">translate plus - proposal with logo.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-10_translate plus - QA report.dotx">translate plus - QA report.dotx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-04-17_Enquiries Request Template - Sales.dotx">Enquiries Request Template - Sales.dotx</a>
                        </li>
                    </ol>
                </div>

            </div>

            <div id="panel-sofia" class="panel">
                <div class="panel-hdr">

                    <h2>MS PowerPoint templates</h2>

                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>

                <div class="panel-container show">
                    <br />
                    <ol>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_Creative presentation template.potx">Creative presentation template</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_Presentation template for e-learning clients.potx">Presentation template for e-learning clients.potx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_Presentation template for life sciences clients.potx">Presentation template for life sciences clients.potx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_Presentation template for manufacturing clients.potx">Presentation template for manufacturing clients.potx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_References-case-studies.potx">References-case-studies.potx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_Standard sales presentation deck.potx">Standard sales presentation deck.potx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-02-16_Workflows.potx">Workflows.potx</a>
                        </li>
                    </ol>
                </div>

            </div>

            <div id="panel-global" class="panel">
                <div class="panel-hdr">

                    <h2>MS Excel templates</h2>

                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>

                <div class="panel-container show">
                    <br />
                    <ol>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2022-05-16 - E-learning Brief Template 2022.xltx">E-learning Brief Template 2022.xltx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2023-04-17 - Job Brief for Test jobs.xltx">Job Brief for Test Jobs.xltx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2022-05-31 - linguistic database import columns.xltx">Linguistic database import columns.xltx</a>
                        </li>
                        <li>
                            <a asp-controller="Template" asp-action="GetCompanyTemplateFile" asp-route-filename="2021-07-31 - on-board plus.xltx">on-board plus.xltx</a>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>