@{

}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
}

<table id="dt-all-orders" onloadstart="AllJobOrdersTableComponent()" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-fusion-200">
        <tr>
            <th>Job ID</th>
            <th>Enquiry ID</th>
            <th>Job</th>
            <th>Org name</th>
            <th>Org group name</th>
            <th>Contact</th>
            <th>Source</th>
            <th>Target</th>
            <th>Status</th>
            <th>Submission date</th>
            <th>Delivery deadline</th>
            <th>Margin</th>
            <th>Client costs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
        <tr>
            <td>Job ID</td>
            <td>Enquiry ID</td>
            <td>Job</td>
            <td>Org name</td>
            <td>Org group name</td>
            <td>Contact</td>
            <td>Source</td>
            <td>Target</td>
            <td>Status</td>
            <td>Submission date</td>
            <td>Delivery deadline</td>
            <td>Margin</td>
            <td>Client costs</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Job ID</th>
            <th>Enquiry ID</th>
            <th>Job</th>
            <th>Org name</th>
            <th>Org group name</th>
            <th>Contact</th>
            <th>Source</th>
            <th>Target</th>
            <th>Status</th>
            <th>Submission date</th>
            <th>Delivery deadline</th>
            <th>Margin</th>
            <th>Client costs</th>
        </tr>
    </tfoot>
</table>

@section ScriptsBlock {
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>

    <script>
        $(document).ready(function () {
            $('#dt-all-orders').dataTable();
    });
    </script>
}